<a href="https://colab.research.google.com/github/N-Daiya/Nivedita-AISem3/blob/HW/Homecreditdefaultrisk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [70]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [71]:
import json
token = {"username":"niveditadaiya","key":"29c5863e6d7bc6e3de27ca483bde6cd6"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [72]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [73]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [74]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
pip install --upgrade kaggle

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [75]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
installments_payments.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
previous_application.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
bureau_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
bureau.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
application_test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
credit_card_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
POS_CASH_balance.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [76]:
!unzip {/content}/competitions/home-credit-default-risk/POS_CASH_balance.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/POS_CASH_balance.csv.zip
replace POS_CASH_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/application_test.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/application_test.csv.zip
  inflating: application_test.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/application_train.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/application_train.csv.zip
  inflating: application_train.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/bureau.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/bureau.csv.zip
  inflating: bureau.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/bureau_balance.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/bureau_balance.csv.zip
  inflating: bureau_balance.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/credit_card_balance.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/credit_card_balance.csv.zip
  inflating: credit_card_balance.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/installments_payments.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/installments_payments.csv.zip
  inflating: installments_payments.csv

In [ ]:
!unzip {/content}/competitions/home-credit-default-risk/previous_application.csv.zip

Archive:  {/content}/competitions/home-credit-default-risk/previous_application.csv.zip
  inflating: previous_application.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
poscb=pd.read_csv("/content/POS_CASH_balance.csv")

In [ ]:
a_train=pd.read_csv("/content/application_train.csv")

In [ ]:
b=pd.read_csv("/content/bureau.csv")

In [ ]:
b_bal=pd.read_csv("/content/bureau_balance.csv")

In [ ]:
creditcardbalance=pd.read_csv("/content/credit_card_balance.csv")

In [ ]:
installmentpayments=pd.read_csv("/content/installments_payments.csv")

In [ ]:
papp=pd.read_csv("/content/previous_application.csv")

In [ ]:
a_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [78]:
### Missing values and their  percentage
count = a_train.isnull().sum().sort_values(ascending=False)
percentage = ((a_train.isnull().sum()/len(a_train)*100)).sort_values(ascending=False)
missing_values = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values for top 20 columns:')
missing_values.head(20)

Count and percentage of missing values for top 20 columns:

                           Count  Percentage
COMMONAREA_MEDI           214865   69.872297
COMMONAREA_AVG            214865   69.872297
COMMONAREA_MODE           214865   69.872297
NONLIVINGAPARTMENTS_AVG   213514   69.432963
NONLIVINGAPARTMENTS_MODE  213514   69.432963
NONLIVINGAPARTMENTS_MEDI  213514   69.432963
LIVINGAPARTMENTS_MEDI     210199   68.354953
LIVINGAPARTMENTS_AVG      210199   68.354953
LIVINGAPARTMENTS_MODE     210199   68.354953
FLOORSMIN_MEDI            208642   67.848630
FLOORSMIN_MODE            208642   67.848630
FLOORSMIN_AVG             208642   67.848630
YEARS_BUILD_MODE          204488   66.497784
YEARS_BUILD_MEDI          204488   66.497784
YEARS_BUILD_AVG           204488   66.497784
OWN_CAR_AGE               202929   65.990810
LANDAREA_AVG              182590   59.376738
LANDAREA_MODE             182590   59.376738
LANDAREA_MEDI             182590   59.376738
BASEMENTAREA_AVG          179943   58.515956

In [79]:
from sklearn.preprocessing import LabelEncoder

In [80]:
a_test=pd.read_csv("/content/application_test.csv")

In [81]:
a_train.dtypes.value_counts()

uint8      131
float64     65
int64       44
dtype: int64

In [82]:
a_train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

Series([], dtype: float64)

In [83]:
# Label Encoder for encoding values having not more than categorical values
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in a_train:
    if a_train[col].dtype == 'object':
        
        if len(list(a_train[col].unique())) <= 2:
           
            le.fit(a_train[col])
           
            a_train[col] = le.transform(a_train[col])
            a_test[col] = le.transform(a_test[col])
            
# Keeping the  track of how many columns were label encoded
            le_count += 1
            
print(' The columns that  were label encoded.' ,le_count)

 The columns that  were label encoded. 0

In [84]:
a_train.dtypes

SK_ID_CURR                         int64
NAME_CONTRACT_TYPE                 int64
FLAG_OWN_CAR                       int64
FLAG_OWN_REALTY                    int64
CNT_CHILDREN                       int64
                                   ...
WALLSMATERIAL_MODE_Stone, brick    uint8
WALLSMATERIAL_MODE_Wooden          uint8
EMERGENCYSTATE_MODE_No             uint8
EMERGENCYSTATE_MODE_Yes            uint8
TARGET                             int64
Length: 240, dtype: object

In [85]:
#one-hot encoding

a_train = pd.get_dummies(a_train)
a_test = pd.get_dummies(a_test)

print('Training Features shape: ', a_train.shape)
print('Testing Features shape: ', a_test.shape)

Training Features shape:  (307511, 240)
Testing Features shape:  (48744, 242)

In [86]:
train_labels = a_train['TARGET']

# Align the training and testing data, to  keep only  the columns which are present in both the dataframes
a_train, a_test = a_train.align(a_test, join = 'inner', axis = 1)

# Add the target back in
a_train['TARGET'] = train_labels

print('Training Features shape: ', a_train.shape)
print('Testing Features shape: ', a_test.shape)

Training Features shape:  (307511, 237)
Testing Features shape:  (48744, 236)

In [87]:
# Correlation between the each column and TARGET Column
correlations = a_train.corr()['TARGET'].sort_values()

# Display correlations
print('\n Most Positive Correlations:\n', correlations.tail(15))
print('\n Most Negative Correlations:\n', correlations.head(15))

 Most Positive Correlations:
 DAYS_REGISTRATION                                    0.041975
OCCUPATION_TYPE_Laborers                             0.043019
FLAG_DOCUMENT_3                                      0.044346
REG_CITY_NOT_LIVE_CITY                               0.044395
FLAG_EMP_PHONE                                       0.045982
NAME_EDUCATION_TYPE_Secondary / secondary special    0.049824
REG_CITY_NOT_WORK_CITY                               0.050994
DAYS_ID_PUBLISH                                      0.051457
CODE_GENDER_M                                        0.054713
DAYS_LAST_PHONE_CHANGE                               0.055218
NAME_INCOME_TYPE_Working                             0.057481
REGION_RATING_CLIENT                                 0.058899
REGION_RATING_CLIENT_W_CITY                          0.060893
DAYS_BIRTH                                           0.078239
TARGET                                               1.000000
Name: TARGET, dtype: float64

 Most Negative Correlations:
 EXT_SOURCE_3                           -0.178919
EXT_SOURCE_2                           -0.160472
EXT_SOURCE_1                           -0.155317
NAME_EDUCATION_TYPE_Higher education   -0.056593
CODE_GENDER_F                          -0.054704
NAME_INCOME_TYPE_Pensioner             -0.046209
ORGANIZATION_TYPE_XNA                  -0.045987
DAYS_EMPLOYED                          -0.044932
FLOORSMAX_AVG                          -0.044003
FLOORSMAX_MEDI                         -0.043768
FLOORSMAX_MODE                         -0.043226
EMERGENCYSTATE_MODE_No                 -0.042201
HOUSETYPE_MODE_block of flats          -0.040594
AMT_GOODS_PRICE                        -0.039645
REGION_POPULATION_RELATIVE             -0.037227
Name: TARGET, dtype: float64

In [88]:
poly_features = a_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH', 'TARGET']]
poly_features_test = a_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]

# imputer for handling missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')

poly_target = poly_features['TARGET']

poly_features = poly_features.drop(columns = ['TARGET'])

# Need to impute missing values
poly_features = imputer.fit_transform(poly_features)
poly_features_test = imputer.transform(poly_features_test)

from sklearn.preprocessing import PolynomialFeatures
poly_transformer = PolynomialFeatures(degree = 3)

In [89]:
poly_transformer.fit(poly_features)

# Transform the features
poly_features = poly_transformer.transform(poly_features)
poly_features_test = poly_transformer.transform(poly_features_test)
print('Polynomial Features shape: ', poly_features.shape)

Polynomial Features shape:  (307511, 35)

In [90]:
poly_transformer.get_feature_names(input_features = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH'])[:15]

['1',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'DAYS_BIRTH',
 'EXT_SOURCE_1^2',
 'EXT_SOURCE_1 EXT_SOURCE_2',
 'EXT_SOURCE_1 EXT_SOURCE_3',
 'EXT_SOURCE_1 DAYS_BIRTH',
 'EXT_SOURCE_2^2',
 'EXT_SOURCE_2 EXT_SOURCE_3',
 'EXT_SOURCE_2 DAYS_BIRTH',
 'EXT_SOURCE_3^2',
 'EXT_SOURCE_3 DAYS_BIRTH',
 'DAYS_BIRTH^2']

In [91]:
poly_features = pd.DataFrame(poly_features, 
                             columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                           'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Adding  the target column
poly_features['TARGET'] = poly_target

# Find the correlations with the target
poly_corrs = poly_features.corr()['TARGET'].sort_values()

# Display most negative and most positive
print(poly_corrs.head(10))
print(poly_corrs.tail(5))

EXT_SOURCE_2 EXT_SOURCE_3                -0.193939
EXT_SOURCE_1 EXT_SOURCE_2 EXT_SOURCE_3   -0.189605
EXT_SOURCE_2^2 EXT_SOURCE_3              -0.176428
EXT_SOURCE_2 EXT_SOURCE_3^2              -0.172282
EXT_SOURCE_1 EXT_SOURCE_2                -0.166625
EXT_SOURCE_1 EXT_SOURCE_3                -0.164065
EXT_SOURCE_2                             -0.160295
EXT_SOURCE_1 EXT_SOURCE_2^2              -0.156867
EXT_SOURCE_3                             -0.155892
EXT_SOURCE_1 EXT_SOURCE_3^2              -0.150822
Name: TARGET, dtype: float64
EXT_SOURCE_1 EXT_SOURCE_2 DAYS_BIRTH    0.155891
EXT_SOURCE_2 DAYS_BIRTH                 0.156873
EXT_SOURCE_2 EXT_SOURCE_3 DAYS_BIRTH    0.181283
TARGET                                  1.000000
1                                            NaN
Name: TARGET, dtype: float64

In [92]:
poly_features_test = pd.DataFrame(poly_features_test, 
                                  columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                                'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Merging  polynomial features into training dataframe
poly_features['SK_ID_CURR'] = a_train['SK_ID_CURR']
a_train_poly = a_train.merge(poly_features, on = 'SK_ID_CURR', how = 'left')

# Merge polnomial features into testing dataframe
poly_features_test['SK_ID_CURR'] = a_test['SK_ID_CURR']
a_test_poly = a_test.merge(poly_features_test, on = 'SK_ID_CURR', how = 'left')

# Align the dataframes
a_train_poly, a_test_poly = a_train_poly.align(a_test_poly, join = 'inner', axis = 1)

# Print out the new shapes
print('Training data with polynomial features shape: ', a_train_poly.shape)
print('Testing data with polynomial features shape:',a_test_poly.shape)

Training data with polynomial features shape:  (307511, 271)
Testing data with polynomial features shape: (48744, 271)

In [100]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
# Drop the target from the training data
if 'TARGET' in a_train:
    train = a_train.drop(columns = ['TARGET'])
else:
    train = a_train.copy()
    
# Feature names
features = list(train.columns)

# Copy of the testing data
test = a_test.copy()

# Median imputation of missing values
imputer = SimpleImputer(strategy = 'median')

# Scale each feature to 0-1
scaler = MinMaxScaler(feature_range = (0, 1))

# Fit on the training data
imputer.fit(train)

# Transform both training and testing data
train = imputer.transform(train)
test = imputer.transform(test)

# Repeat with the scaler
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

Training data shape:  (307511, 236)
Testing data shape:  (48744, 236)

In [101]:
# Applying Logistic Regression
from sklearn.linear_model import LogisticRegression

# Make the model with the specified regularization parameter
log_reg = LogisticRegression(C = 0.0001)

# Train on the training data
log_reg.fit(train, train_labels)

LogisticRegression(C=0.0001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [103]:
log_reg_pred = log_reg.predict_proba(test)[:, 1]
log_reg_pred

array([0.06344185, 0.11382821, 0.06997081, ..., 0.06983774, 0.06941027,
       0.09393776])